@font-face {
  font-family: brat;
  src: url(arial_narrow-webfont.woff);
}
html, body {
  background-color: rgb(138, 207, 0);
  font-family: brat;
  overflow: hidden;
  cursor: none;

}
h1 {
  color: black;
  font-weight: normal;
  filter: blur(1.5px);
}
.splash {
  display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
}
.splashonsplash {
  width: 50%;
  height: 50%;
}
.splashtext {
  font-size: 100px;
}
.loading {
  position: absolute;
  top: 60%;
  right: 50%;
}